.h5 {
    font-weight: 400;
    font-size: 22px;
}
#futter{
    border-top: 3px solid black;
   
    
}
#content{
    font-weight:bold;
}
.baihat{
    font-weight: 400;
    font-size: 24px;
}
#admin{
    flex: 1;
    min-height: 75vh;
    
}
.row{
    margin-top: 300px;
}